.background{
    background-image: url('../../Imagenes/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1080px;
    object-fit: contain;
    
}